
        <form  [formGroup]="userForm" style="border:1px solid #ccc">
            <div class="container">
              <h1>Add Student Data</h1>
              <hr>
              <label for="fname"><b>First Name</b></label>
              <input  type="text" formControlName="fname" class="form-group" placeholder="Enter First Name" name="fname" required>
          
              <label for="lname"><b>Last Name</b></label>
              <input  type="text" formControlName="lname" class="form-group" placeholder="Enter Last Name" name="lname" required>
          
              <label for="mobile"><b>Mobile Number</b></label>
              <input  type="text" formControlName="mobile" class="form-group" placeholder="Enter Mobile Number" name="mobile" required>
          
              <label for="dob"><b>Date of Birth</b></label>
              <input  type="text" formControlName="dob" class="form-group" placeholder="Enter DOB" name="dob" required>
              
              <div class="clearfix">
                <button type="submit" class="signupbtn" (click)="AddItem()">Add</button>
                <button type="submit" class="cancelbtn" (click)="Reset()">Reset</button>
               
              </div>
            </div>
          </form>







