<!-- <div class="sidenav">
    <a href="#about">Home</a>
    <a href="#services">Gallery</a>
    <a href="#contact">Contact</a>
    <a href="#contact">Search</a>
  </div> -->

  <div class="sidenav">
    <img src="assets/gall1.jfif" alt="" style="height: 50px;width: 200px;">
    <nav><br><br>
      <a routerLink="/content">Dashboard</a>
    </nav>
   
    <nav>
      <a (click)="goToGallery()">Gallery</a>
    </nav>
    <nav>
      <a (click)="addCustomers()">Customer List</a>
    </nav>
  
  </div>
  