
        <div class="header"> <h2>IncubExperts  Dashboard</h2></div>
        <div class="container-fluid">
            <div class="sidebar" style="padding: 100px;">
                <div class="bold" a routerLink="customer" style="cursor: pointer;">Customer</div><br>
                <div class="bold">Home</div><br>
                <div class="bold">Gallery</div><br>
                <div class="bold">Contact</div><br>
            </div>
            <div class="dashboard">
                <router-outlet></router-outlet>
            </div>
        </div>
   